body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    overflow: hidden;
    max-height: 100vh;
}

@media (max-width: 1220px) {
    body {
        overflow-x: scroll;
    }
}

.app-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.userbar {
    /* height: 50px; */
    width: 100%;
    padding: 10px;
    background-color: rgb(235, 236, 237);
    border-bottom: 1px solid rgb(215, 216, 217);
    position: sticky;
    font-weight: bold;
    color: #444444;
}

.dark-mode .userbar {
    background-color: rgb(60, 61, 62);
    border-bottom: 1px solid rgb(20, 21, 22);
    color: #ccc;
}

.main-container {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}

.notebooksListContainer {
    background-color: rgb(245, 246, 247);
    max-width: 200px;
    min-width: 200px;
    flex-grow: 1;
    padding: 0 10px;
    border-right: 1px solid rgb(235, 236, 237);
    /* position: sticky;
    overflow: scroll; */
}

.dark-mode .notebooksListContainer,
.dark-mode .notesListContainer {
    background-color: rgb(50, 51, 52);
    border-right: 1px solid rgb(30, 31, 32);
}

.notesListContainer {
    background-color: rgb(245, 246, 247);
    max-width: 200px;
    min-width: 200px;
    flex-grow: 1;
    padding: 0 10px;
    border-right: 1px solid rgb(235, 236, 237);
    /* position: sticky; */
}

.note-container {
    width: calc(100%-400px);
    background-color: rgb(248, 249, 250);
    flex-grow: 1;
    padding: 0 40px;
}

.dark-mode .note-container {
    background-color: rgb(37, 38, 39);
}

#editor-container {
    background-color: white;
    width: 700px;
    overflow-y: auto;
    flex-grow: 1;
}

.dark-mode #editor-container {
    background-color: rgb(30, 30, 30);
    color: #ccc;
    border: red
}

.dark-mode .ql-container,
.dark-mode .ql-toolbar {
    border: 1px solid rgb(10, 11, 12);
}

.ql-editor {
    flex-grow: 1;
    overflow-y: auto;
    height: calc(100vh - 230px);
}

.notebook-tab {
    padding: 10px 10px;
    color: #222;
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: small;
}

.dark-mode .notebook-tab,
.dark-mode .note-name,
.dark-mode .note-first-lines {
    color: #ccc;
}

.note-whole-tab {
    padding: 10px 10px;
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: small;
}

.note-name {
    color: #222;
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: small;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    line-clamp: 1;
    /* for non-WebKit browsers */
    display: -moz-box;
    -moz-box-orient: vertical;
    max-height: 1.4em;
}

.note-first-lines {
    color: #222;
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: x-small;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    line-clamp: 2;
    /* for non-WebKit browsers */
    display: -moz-box;
    -moz-box-orient: vertical;
    max-height: 2.8em;
}

.tab-links {
    text-decoration: none;
}

.notebook-tab:hover {
    background-color: rgb(235, 236, 237);
}

.dark-mode .notebook-tab:hover {
    background-color: rgb(30, 31, 32);
}

.note-whole-tab:hover {
    background-color: rgb(235, 236, 237);
}

.dark-mode .note-whole-tab:hover {
    background-color: rgb(30, 31, 32);
}

.add-new {
    padding: 10px 15px;
    color: #333333;
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: small;
    border: 1px solid rgb(225, 226, 227);
}

.dark-mode .add-new {
    color: #ccc;
    border: 1px solid rgb(30, 31, 32);
}

.add-input {
    width: calc(100% - 30px);
    padding: 10px 15px;
    background-color: white;
    border: 1px solid rgb(225, 226, 227);
    filter: none;
    outline: none;
}

.dark-mode .add-input {
    background-color: rgb(30, 30, 30);
    border: 1px solid rgb(37, 38, 39);
    color: #ccc;
}

.add-new:hover {
    background-color: rgb(225, 226, 227);
}

.dark-mode .add-new:hover {
    background-color: rgb(30, 31, 32);
}

.context-menu {
    position: absolute;
    background: rgb(235, 236, 237);
    color: #4d4d4d;
    font-size: small;
    filter: drop-shadow(0px 0px 4px rgb(163, 163, 163));
    z-index: 10;
}

.dark-mode .context-menu {
    background: rgb(37, 38, 39);
    color: #ccc;
    filter: drop-shadow(0px 0px 1px rgb(24, 24, 24));
}

i {
    padding: 2px 5px;
}

.context-option:hover {
    cursor: pointer;
    background-color: rgb(225, 226, 227);
}

.dark-mode .context-option:hover {
    background-color: rgb(60, 61, 62);
}

.cancel {
    color: rgb(184, 3, 3);
    font-size: smaller;
    display: inline-block;
}

.cancel:hover {
    cursor: pointer;
}

.dark-mode .cancel {
    color: rgb(207, 89, 89);
}

.submit {
    color: #222;
    font-size: smaller;
    display: inline-block;
    margin: 0px 20px 0px 10px;
}

.submit:hover {
    cursor: pointer;
}

.dark-mode .submit {
    color: #ccc;
}

.note-title {
    font-weight: lighter;
    max-width: 700px;
    border-bottom: 1px solid rgb(215, 216, 217);
    padding-bottom: 5px;
}

.dark-mode .note-title {
    border-bottom: 1px solid rgb(20, 21, 22);
    color: #ccc;
}

.note-updated {
    font-size: small;
    font-weight: lighter;
    letter-spacing: 0.1em;
    color: #4d4d4d;
    margin-top: -10px;
}

.dark-mode .note-updated {
    color: #aaaaaa;
}

.note-bar {
    width: 700px;
    position: absolute;
    border-left: 1px solid rgb(215, 216, 217);
    top: 10px;
    left: 440px;
    padding-left: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dark-mode .note-bar {
    border-left: 1px solid rgb(30, 31, 32);
}

.note-bar button,
.note-bar select {
    padding: 5px 15px;
    margin: 0 5px;
    color: #333333;
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: small;
    border: 1px solid rgb(215, 216, 217);
    background-color: rgb(245, 246, 247);
}

.dark-mode .note-bar button,
.dark-mode .note-bar select {
    color: #ccc;
    border: 1px solid rgb(30, 31, 32);
    background-color: rgb(37, 38, 39);
}

.message {
    margin-top: 30vh;
    text-align: center;
    font-weight: lighter;
}

.message h1,
.message h2 {
    font-weight: 100;
    color: #777;
}

.rename-note {
    font-weight: lighter;
    font-size: inherit;
    width: 696px;
    padding-bottom: 5px;
    filter: none;
    outline: none;
    background-color: rgb(248, 249, 250);
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid rgb(215, 216, 217);
}

.dark-mode .rename-note {
    background-color: rgb(37, 38, 39);
    border-bottom: 1px solid rgb(20, 21, 22);
    color: #ccc;
}

.sidebar-header {
    font-size: large;
    font-weight: lighter;
    border-bottom: 1px solid rgb(215, 216, 217);
    padding-bottom: 5px;
    margin: 10px 0;
}

.dark-mode .sidebar-header {
    border-bottom: 1px solid rgb(20, 21, 22);
    color: #ccc;
}

.selected {
    background-color: rgb(235, 236, 237)
}

.dark-mode .selected {
    background-color: rgb(30, 31, 32);
}

.me {
    margin-left: auto;
    padding: 5px 15px;
    color: #333333;
    cursor: pointer;
    font-size: small;
    border: 1px solid rgb(215, 216, 217);
    background-color: rgb(245, 246, 247);
}

.left-container {
    display: flex;
    align-items: center;
}
